<section class="channel-group">
  <div class="channel-group__header">
    <h2 class="channel-group__title">限时免费</h2>
  </div>
  <ul class="book-table">
   <li v-for="item in free" v-if="$index>=0 && $index<3">
  	  <div class="u-book">
  	     <div class="book-cover">  
             <img :src="item.data.cover" alt="">
             <div class="u-tagRT -freefiction"></div>
  	     </div>
  	     <div class="info">
  	       <h3 class="title">{{item.ad_name}}</h3>
  	     </div>
  	  </div>
  	</li>
  </ul>
  <a class="channel-group__footer" href="/free">更多限免佳作&gt;&gt;</a>
</section>
