<style>
 .shelf_top {
 	padding: 10px 20px 0;
 }
 .shelf-search {
 	margin-right: 46px;
 }
 .shelf-search {
 	font-size: 12px;
 	color: #ccc;
 	border:1px solid #eee;
 	border-radius: 4px;
 	line-height: 36px;
    background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01dSYLeWtSR/tY73MgTfVw7UAS.png) no-repeat 8px center;
    background-size: 14px;
    padding-left: 32px;

 }
 .shelf-swich {
 	float: right;
 	width: 36px;
 	height: 36px;
 	border-radius: 4px;
    background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01yLF3fEj8l/b7UfAdlfufQKML.png) no-repeat center;
    background-size: 16px;
    border:1px solid #eee;
}
.book-list {
	width: 95%;
	margin: 0 auto;
}
.book-list li {
  float: left;
  width: 33.3%;
}
.book-list li a {
	display: block;
	position: relative;
	overflow: hidden;
}
.book-list li a img {
	width: 90%;
	margin: 0 auto;
}

.u-recommend {
	position: absolute;
	top:0;
	left: 0;
	line-height: 1.8;
	background-color: red;
	color: #fff;
	width: 100%;
	font-size: 1.5rem;
	text-align: center;
	-webkit-transform-origin: top center;
   -webkit-transform: translateX(-50%) rotate(-45deg) translateY(50%) scale(0.8);
}


</style>
<div>
 <div class="shelf_top">
    <div class="shelf-swich"></div>
    <a href="/search">
       <div class="shelf-search">输入书名/作者/关键字</div>
    </a>
 </div>
 <ul class="book-list">
 	<li>
 	  <a href="#">
 	      <img src="http://qidian.qpic.cn/qdbimg/349573/c_8142630204247303/150" alt="">
 	      <div class="u-recommend">推荐</div>
 	   </a>
 	   <div class="info">
 	      <h3>旧爱情长</h3>
 	      <p>
 	         <span>南派三叔</span>
 	      </p>
 	      <div class="wrap">
 	         <p>最新：《后记》</p>
 	      </div>
 	   </div>
 	</li>
  	<li>
 	   <a href="">
 	      <img src="http://qidian.qpic.cn/qdbimg/349573/c_7184612403591401/150" alt="">
 	      <div class="u-recommend">推荐</div>
 	   </a>
 	   <div class="info">
 	      <h3>旧爱情长</h3>
 	      <p>
 	         <span>南派三叔</span>
 	      </p>
 	      <div class="wrap">
 	         <p>最新：《后记》</p>
 	      </div>
 	   </div>
 	</li>
 	<li>
 	   <a href="">
 	      <img src="http://qidian.qpic.cn/qdbimg/349573/c_7304899604332001/150" alt="">
 	   </a>
 	   <div class="info">
 	      <h3>旧爱情长</h3>
 	      <p>
 	         <span>南派三叔</span>
 	      </p>
 	      <div class="wrap">
 	         <p>最新：《后记》</p>
 	      </div>
 	   </div>
 	</li>
  	<li>
 	   <a href="">
 	      <img src="http://qidian.qpic.cn/qdbimg/349573/c_8404234404412303/150" alt="">
 	   </a>
 	   <div class="info">
 	      <h3>旧爱情长</h3>
 	      <p>
 	         <span>南派三叔</span>
 	      </p>
 	      <div class="wrap">
 	         <p>最新：《后记》</p>
 	      </div>
 	   </div>
 	</li>
 </ul>
</div>