<section class="top-home">
  <a href="/search">
    <div class="top-home__search">
       输入书名/作者/关键字
    </div>
  </a>
  <div class="slider-banner">
     <div class="slide_img">
       <a href="http://dushu.xiaomi.com/#page=channel&id=410">
		  <img class="cover" src="//qidian.qpic.cn/qidian_common/349573/fe72ea73f103b19f2ddef04713957b6c/0"/>
	   </a>
     </div>
  </div>
  <ul class="top-home__btn">
  	<li>
	  	<a href="/male">
	  	  <img class="top-home__icon" src="/static/img/male.png">
	  	  <p class="top-home__desc">男生</p>
	  	</a>
  	</li>
  	<li>
  	   <a href="/female">
  	     <img class="top-home__icon" src="/static/img/female.png">
  	     <p class="top-home__desc">女生</p>
  	   </a>
  	</li>
  	<li>
       <a href="/category">
         <img class="top-home__icon" src="/static/img/category.png">
         <p>分类</p>
       </a>
  	</li>
  	<li>
       <a href="/rank"> 
          <img class="top-home__icon" src="/static/img/rank.png">
          <p>排行</p>
       </a>
  	</li>
  </ul>
</section>