<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/static/css/reset.css">
	<link rel="stylesheet" href="/static/css/all.css">
	<title>书城首页</title>
	<style>
	.container-wrap {
		height: 800px;
		overflow: hidden;
		position: relative;
	}
	 .contaniner-scroll {
         position: absolute;
         top:45px;
         bottom: 0px;
         left: 0px;
         right: 0px;
         overflow: scroll;
	  }
	</style>
</head>
<body>
 <div id="root">
   <div class="container-wrap" id="app">
      <% include include/header.html %>
      <div class="">
		   <div class="contaniner-scroll" v-show="isshow1">
		     <% include include/index-top.html %>
		     <% include include/index-recommend.html %>
		     <% include include/index-hot.html %>
		     <% include include/index-female.html %>
		     <% include include/index-male.html %>
		     <% include include/index-free.html %>
		     <% include include/index-bottom.html %>
		   </div>
		   <div class="book_shelf" v-show="isshow2">
	         <% include include/index-shelf.html %>
	        </div>
      </div>
   </div>
   
 </div>
 <script src="/static/script/vue.js"></script>
 <script src="/static/script/zepto.js"></script>
 <script src="/static/script/pages/index.js"></script>
</body>
</html>